.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1c2025;
    flex: 1;
    max-width: 317px;
    border-radius: 10px;
    overflow: hidden;

    &__img{
        margin-bottom: 1.4rem;
    }
    &__details{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h1{
        font-family: Inter;
        font-size: 25px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
        padding: .5rem;
    }
    .h2--details{
        font-family: Inter;
        font-size: 13px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: center;
        color: #F3BF99;
        padding: .3rem;
    }
    h3{
        font-family: Inter;
        font-size: 10px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: center;
        color: #F5F5F5;
        padding: .5rem;
    }
    &__btns{
        display: flex;
        justify-content: space-between;
        margin: 2rem 0;
    }
    &__btn{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        margin: 0 1rem ;
        background-color: #FFFFFF;
        width: 115px;
        height: 34px;
        color: #374151;
        text-decoration: none;
        border-radius: 10px;
        color: #374151;
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0em;

       &--blue{
        background-color: #5093E2;
        color: #FFFFFF;
       }
    }
    &__desc{
        padding: 0 2rem;
    }
    .h2--desc-head{
        margin-top: 1rem;
        font-family: Inter;
        font-size: 16px;
        font-weight: 800;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #F5F5F5;
        +p{
            font-family: Inter;
            font-size: 10px;
            font-weight: 300;
            line-height: 15px;
            letter-spacing: 0em;
            text-align: left;
            color: #F5F5F5;
        }
    }
    &__footer{
        width: 100%;
        background-color: #161619;
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        &__links{
            padding: 2rem;
            display: flex;
            gap: 1rem;
        }
        &__link{
            i{
                color: #918E9B;
                height: 25px;
                width: auto;
            }
        }
    }
}








h1,p{
    color: #fff;
}